USE [master]
GO
/****** Object:  Database [QuanLyBienSoan]    Script Date: 10/19/2023 8:50:14 PM ******/
CREATE DATABASE [QuanLyBienSoan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBienSoan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRHQUANMS\MSSQL\DATA\QuanLyBienSoan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBienSoan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRHQUANMS\MSSQL\DATA\QuanLyBienSoan_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBienSoan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBienSoan]
GO
/****** Object:  User [trhquantest]    Script Date: 10/19/2023 8:50:15 PM ******/
CREATE USER [trhquantest] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Trhquan]    Script Date: 10/19/2023 8:50:15 PM ******/
CREATE USER [Trhquan] FOR LOGIN [Trhquan] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [trhquantest]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHocPhan] [nchar](10) NOT NULL,
	[TenHocPhan] [nvarchar](max) NULL,
	[SoTiet] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HocPhan] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[ChuNhiemKhoa] [nvarchar](50) NULL,
	[CapBac] [nvarchar](50) NULL,
	[HocVi] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiLieu]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiLieu](
	[MaLoai] [nchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiTaiLieu] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [nchar](10) NOT NULL,
	[TenTacGia] [nvarchar](50) NULL,
	[CapBac] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[HocVi] [nvarchar](50) NULL,
	[MaKhoa] [nchar](10) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia_TaiLieu]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia_TaiLieu](
	[MaTacGia] [nchar](10) NULL,
	[MaTaiLieu] [nchar](10) NULL,
	[NhiemVu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiLieuBienSoan]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieuBienSoan](
	[MaTaiLieu] [nchar](10) NOT NULL,
	[TenTaiLieu] [nvarchar](max) NULL,
	[MaLoai] [nchar](10) NULL,
	[MaHocPhan] [nchar](10) NULL,
	[MaKhoa] [nchar](10) NULL,
	[MaTroLy] [nchar](10) NULL,
	[NamNghiemThu] [int] NULL,
	[KinhPhi] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiLieuBienSoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TroLy]    Script Date: 10/19/2023 8:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TroLy](
	[MaTroLy] [nchar](10) NOT NULL,
	[TenTroLy] [nvarchar](50) NULL,
	[CapBac] [nvarchar](50) NULL,
	[HocVi] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TroLy] PRIMARY KEY CLUSTERED 
(
	[MaTroLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TacGia]  WITH CHECK ADD  CONSTRAINT [FK_TacGia_Khoa1] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[TacGia] CHECK CONSTRAINT [FK_TacGia_Khoa1]
GO
ALTER TABLE [dbo].[TacGia_TaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_TacGia_TaiLieu_TacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[TacGia_TaiLieu] CHECK CONSTRAINT [FK_TacGia_TaiLieu_TacGia]
GO
ALTER TABLE [dbo].[TacGia_TaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_TacGia_TaiLieu_TaiLieuBienSoan1] FOREIGN KEY([MaTaiLieu])
REFERENCES [dbo].[TaiLieuBienSoan] ([MaTaiLieu])
GO
ALTER TABLE [dbo].[TacGia_TaiLieu] CHECK CONSTRAINT [FK_TacGia_TaiLieu_TaiLieuBienSoan1]
GO
ALTER TABLE [dbo].[TaiLieuBienSoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiLieuBienSoan_HocPhan] FOREIGN KEY([MaHocPhan])
REFERENCES [dbo].[HocPhan] ([MaHocPhan])
GO
ALTER TABLE [dbo].[TaiLieuBienSoan] CHECK CONSTRAINT [FK_TaiLieuBienSoan_HocPhan]
GO
ALTER TABLE [dbo].[TaiLieuBienSoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiLieuBienSoan_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[TaiLieuBienSoan] CHECK CONSTRAINT [FK_TaiLieuBienSoan_Khoa]
GO
ALTER TABLE [dbo].[TaiLieuBienSoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiLieuBienSoan_LoaiTaiLieu] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiTaiLieu] ([MaLoai])
GO
ALTER TABLE [dbo].[TaiLieuBienSoan] CHECK CONSTRAINT [FK_TaiLieuBienSoan_LoaiTaiLieu]
GO
ALTER TABLE [dbo].[TaiLieuBienSoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiLieuBienSoan_TroLy] FOREIGN KEY([MaTroLy])
REFERENCES [dbo].[TroLy] ([MaTroLy])
GO
ALTER TABLE [dbo].[TaiLieuBienSoan] CHECK CONSTRAINT [FK_TaiLieuBienSoan_TroLy]
GO
USE [master]
GO
